/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: #DDD;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#body_content {
  float: left;
  width: 80%;
  background: white;
  color: #333;
  padding: 20px;
}
#side_body_content {
  float: left;
  width: 10%;
  background: white;
  color: #333;
  padding: 20px;
}
#menu {
  background: url(../images/grad2.gif) repeat-x scroll center top #2C79B3;
  height:32px;
}

#menu ul {
  clear: both;
  content: ".";

  list-style: none;
  padding: 0px;
  display: block;
  li {
    margin-right: 10px;
    float:left;
    border-right:1px solid #75AAD2;
    a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      border-right:1px solid #2B6484;
      color:#C3DBED;
      font-weight:bold;
      line-height:32px;
      font-size: 100%;
    }
    &.selected a, a:hover {
      background: url(../images/grad2-1.gif) repeat-x scroll center top #2b6484;
      color: #fff;
    }
  }
}